body {
    font-family: sans-serif;
    background-color: black;
    margin: 0 auto;
}

.header {
    height: 10vh;
    background: url();
    background-size: cover;
    background-position: center;
}

.logo {
    position: relative;
    width: 50%;
    height: 100px;
}

